:root {
	--grayish-blue: hsl(237, 18%, 59%);
	--soft-red: hsl(345, 95%, 68%);
	--soft-red-darker:hsl(344, 61%, 57%);
	--dark-desaturated-blue: hsl(236, 21%, 26%);
	--very-dark-blue: hsl(235, 16%, 14%);
	--very-dark: hsl(234, 17%, 12%);
	--missing-one: hsl(240, 21%, 21%);
	--new-one: hsl(257, 19%, 14%);
}

html {
	box-sizing: border-box;
	font-size: 14px;
	font-family: "Red Hat Text", sans-serif;
	color: white;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: var(--new-one);
	background-image: url("./images/bg-stars.svg");
	animation: move-background 300s linear infinite;
}

@keyframes move-background {
	100% {
		background-position: 3000px 0px;
	}
}

* {
	margin: 0;
	padding: 0;
}

.wrapper {
	text-align: center;
	align-items: center;
}

.counter {
	display: inline-block;
	color: var(--grayish-blue);
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

.title {
	margin-top: 18vh;
	margin-bottom: 12vh;
	letter-spacing: 0.5em;
	text-transform: uppercase;
}

.counter__card {
	/* background-color: var(--dark-desaturated-blue); */
	/* background: linear-gradient(0, var(--dark-desaturated-blue) 50%, var(--grayish-blue) 50%); */
	color: transparent;
	border-radius: 10px;
	box-shadow: 0 9px 0 2px var(--very-dark);
	font-size: 9vh;
	min-width: 10vw;
	min-height: 18vh;
	margin: 0 1vh 3vh 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.counter__card::before {
	content: attr(data-content);
	position: absolute;
	top: 0;
	width: 100%;
	height: 50%;
	background-color: var(--missing-one);
	z-index: -2;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: var(--soft-red-darker);
	overflow:hidden;
	line-height: 200%;
}

.counter__card::after {
	content: attr(data-content); /* dynamic content for the pseudo element */
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-color: var(--dark-desaturated-blue);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: -1;
	color: var(--soft-red);
	line-height: 0;
	overflow: hidden;
}

.counter__card--flipped {
	transition: transform 400ms;
	transform: rotateX(360deg);
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 25vh;
	background-image: url("./images/pattern-hills.svg");
	background-size: cover;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.media-contact .fab {
	padding: 10px;
	color: var(--grayish-blue);
	transition: all 0.2s ease-in-out;
}

.media-contact .fab:hover {
	color: var(--soft-red);
	cursor: pointer;
	transform: scale(0.8);
}

.attribution {
	width: 100%;
	position: absolute;
	margin: auto 0;
	bottom: 0;
	font-size: 11px;
	justify-content: center;
	padding: 15px;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.attribution a:hover {
	color: var(--soft-red);
}

@media all and (max-width:1200px) {
	.counter__card {
		width: 20vw;
	}
} 


@media all and (max-width:615px) {
	.title {
		font-size: 12px;
		padding: 5%;
	}

	.counter {
		font-size: 7px;
	}
	
	.counter__card {
		min-height: 8vh;
		font-size: 4vh;
		width: 20vw;
		box-shadow: 0 4px 0 2px var(--very-dark);
	}
} 
